/* SCOREBOARD CSS */
div {
    width: 500px;
    height:230px;
    background-color: rgb(50, 100, 85);
    margin: 3pt;
  }
/* style for the numbers and boxes*/
.nums{
    width: 18px;
    height:30px;
    border: 3px solid black;
    background-color: rgb(50, 100, 85);
    display: inline-block;
    font-size: 12pt;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    text-align: center;
    line-height: 30px;
    margin: 1pt;
}
/* style for the last numbers and box*/
.last{
    width: 18px;
    height:30px;
    border: 3px solid white;
    background-color: rgb(50, 100, 85);
    display: inline-block;
    font-size: 12pt;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 30px;
    margin: 1pt;
}
/* style for the Inning Numbers*/
.headingNum{
    width: 15px;
    height:30px;
    display: inline-block;
    font-size: 12pt;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align: center;
    margin-left: 9pt;
    line-height: 40px;
}
/*style for the Away text*/
.away{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    font-size: 12pt;
    display: inline-block;
    margin-right: 7px;
}
/*style for the home text*/
.home{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    font-size: 12pt;
    display: inline-block;    
    margin-right: 5px;
}
/*style for the image*/
.img{
    float: right;
    width: 120px;
    height: 120px;
    margin-right: 50px;    
    margin-top: 50px;
}
/*style for the field title*/
.title{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 40px;
    font-size: 28pt;
    display: inline-block;   
    text-align: center;
}
.border{
font-size: 12pt;
font-family: Arial, Helvetica, sans-serif;
display: inline-block;    
color: rgb(50, 100, 85);
}

/**CONTROL CENTER CSS**/
.controlCenter{
    width: 350px;
    height:200px;
    padding: 10px;
    border: 5px solid rgb(172, 165, 165);
    background-color: rgb(0, 0, 0);
    margin: 0;
    border-radius: 10px;
}
/*control center title style*/
.controlCenterTitleText{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 28pt;
    text-align: center;
    margin-top: 3px;
    padding: 10px;
}
/*control center text style*/
.controlCenterText{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 12pt;
    text-align: center;
    margin-top: 1px;
    font-weight: normal;
    padding-left: 20pt;
}
/*drop down menue style*/
.dropdown-menu {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 5px;
    padding-top: 60px;
  }
/*plus and minus sign style*/
.plusMinus{
    font-family: 'Courier New', Courier, monospace;
}

.audioButton{
    width: 20pt;
    height: 15pt;
}


