/* Your CSS definitions here */
div {
    width: 550px;
    height:250px;
    padding: 10px;
    border: 5px solid white;
    background-color: rgb(50, 100, 85);
    margin: 0;
  }

.nums{
    width: 15px;
    height:30px;
    border: 3px solid black;
    background-color: rgb(50, 100, 85);
    display: inline-block;
    font-size: 12pt;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    text-align: center;
    line-height: 30px;
    margin: 1pt;
}

.last{
    width: 15px;
    height:30px;
    border: 3px solid white;
    background-color: rgb(50, 100, 85);
    display: inline-block;
    font-size: 12pt;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    text-align: center;
    line-height: 30px;
    margin: 1pt;
}

.flexbox-container{
    display: flex;
}
.box{
    width: 200px;
    height: 200px;
    margin: 10px;
}

.headingNum{
    width: 15px;
    height:30px;
    display: inline-block;
    font-size: 12pt;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align: center;
    margin: 3pt;

}
.away{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    font-size: 12pt;
    display: inline-block;
    margin-right: 8px;
    margin-top: 0px;
}
.home{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    font-size: 12pt;
    display: inline-block;    
    margin-right: 5px;
    margin-top: 0px;
}
.img{
    float: right;
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-right: 30px;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 40px;
    font-size: 28pt;
    display: inline-block;    
}

.border{
font-size: 12pt;
font-family: Arial, Helvetica, sans-serif;
display: inline-block;    
margin-top:-100px;
margin-bottom: 0px;
color: rgb(50, 100, 85);
}


.controlCenter{
    width: 350px;
    height:200px;
    padding: 10px;
    border: 5px solid rgb(172, 165, 165);
    background-color: rgb(0, 0, 0);
    margin: 0;
    border-radius: 10px;
}

.controlCenterTitleText{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 28pt;
    text-align: center;
    margin-top: 1px;
    padding: 20px;
}


.controlCenterText{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 12pt;
    text-align: center;
    margin-top: 1px;
    font-weight: normal;
    padding-left: 20pt;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 5px;
    padding-top: 60px;
  }